**Alura Challenge - Data Science: Semana 1**

In [1]:
import pandas as pd
import numpy as np

In [2]:
dados_clientes = pd.read_json(
    path_or_buf = 'https://raw.githubusercontent.com/sthemonica/alura-voz/main/Dados/Telco-Customer-Churn.json',
    orient = 'columns'
    )

In [3]:
dados_clientes.head(5)

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [4]:
len(dados_clientes)

7267

In [5]:
dados_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

In [6]:
dados_clientes['customer'][201]

{'Dependents': 'No',
 'Partner': 'No',
 'SeniorCitizen': 0,
 'gender': 'Male',
 'tenure': 9}

In [7]:
dados_clientes['internet'][201]

{'DeviceProtection': 'No internet service',
 'InternetService': 'No',
 'OnlineBackup': 'No internet service',
 'OnlineSecurity': 'No internet service',
 'StreamingMovies': 'No internet service',
 'StreamingTV': 'No internet service',
 'TechSupport': 'No internet service'}

In [8]:
dados_teste = dados_clientes.drop('Churn', axis =1)

In [9]:
dados_teste.head()

,customerID,customer,phone,internet,account
0,0002-ORFBO,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [10]:
dados_customer= pd.json_normalize(data=dados_clientes.customer)

In [11]:
dados_customer.head(5)

   gender  SeniorCitizen Partner Dependents  tenure
0  Female              0     Yes        Yes       9
1    Male              0      No         No       9
2    Male              0      No         No       4
3    Male              1     Yes         No      13
4  Female              1     Yes         No       3

In [12]:
dados_phone= pd.json_normalize(data=dados_clientes.phone)
dados_phone

     PhoneService     MultipleLines
0             Yes                No
1             Yes               Yes
2             Yes                No
3             Yes                No
4             Yes                No
...           ...               ...
7262          Yes                No
7263          Yes               Yes
7264          Yes                No
7265          Yes                No
7266           No  No phone service

[7267 rows x 2 columns]

In [13]:
dados_internet= pd.json_normalize(data=dados_clientes.internet)

In [14]:
dados_account= pd.json_normalize(data=dados_clientes.account)

In [15]:
dados_c_c = dados_clientes.drop('phone', axis = 1)

In [16]:
dados_c_c =dados_c_c.drop('customer', axis = 1)

In [17]:
dados_c_c =dados_c_c.drop('internet', axis = 1)

In [18]:
dados_c_c =dados_c_c.drop('account', axis = 1)

In [19]:
dados_api = pd.concat([dados_c_c, dados_customer, dados_phone, dados_internet, dados_account], axis=1)

In [20]:
dados_api

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

In [21]:
dados_api['MultipleLines'].unique()

array(['No', 'Yes', 'No phone service'], dtype=object)

In [22]:
dados_api.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [23]:
##dados_api.sort_values('Charges.Total', ascending=True, inplace=True)
##dados_api

Dados em branco não aparecem no isna() --- Nem pro Churn e nem pro Charges Total

In [24]:

dados_api['Churn'].isna().sum().sum()

0

In [25]:
dados_api['Charges.Total'].isnull().sum()

0

In [26]:
dados_api.describe()

       SeniorCitizen       tenure  Charges.Monthly
count    7267.000000  7267.000000      7267.000000
mean        0.162653    32.346498        64.720098
std         0.369074    24.571773        30.129572
min         0.000000     0.000000        18.250000
25%         0.000000     9.000000        35.425000
50%         0.000000    29.000000        70.300000
75%         0.000000    55.000000        89.875000
max         1.000000    72.000000       118.750000

In [27]:
duplicados = dados_api[dados_api.duplicated(keep='first')]

In [28]:
dados_api['gender'] = dados_api['gender'].astype('category')

In [29]:
dados_api['Churn']= dados_api['Churn'].replace([''], np.nan)

In [30]:
dados_api['Charges.Total']= dados_api['Charges.Total'].replace([' '], np.nan)

In [31]:
dados_api['Charges.Total'].isna().sum().sum()

11

In [32]:
dados_api['Churn'].isna().sum().sum()

224

Removendo linhas com Churn NaN

In [33]:
dados_new = dados_api.copy()

In [34]:
len(dados_new)

7267

In [35]:
dados_new['Churn'] = dados_new['Churn'].astype('category')

In [36]:
dados_new['Churn'].unique()

['No', 'Yes', NaN]
Categories (2, object): ['No', 'Yes']

In [37]:
dados_new.dropna(subset = ['Churn'], inplace=True)

In [38]:
dados_new['Churn'].unique()

['No', 'Yes']
Categories (2, object): ['No', 'Yes']

In [39]:
dados_new[dados_new['Charges.Total'].isnull()]

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
975,1371-DWPAZ,No,Female,0,Yes,Yes,0,No,No phone service,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,NaN
1775,2520-SGTTA,No,Female,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,NaN
1955,2775-SEFEE,No,Male,0,No,Yes,0,Yes,Yes,DSL,...,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,NaN
2075,2923-ARZLG,No,Male,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,NaN
2232,3115-CZMZD,No,Male,0,No,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,NaN
2308,3213-VVOLG,No,Male,0,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,NaN
2930,4075-WKNIU,No,Female,0,Yes,Yes,0,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,NaN
3134,4367-NUYAO,No,Male,0,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,NaN
3203,4472-LVYGI,No,Female,0,Yes,Yes,0,No,No phone service,DSL,...,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,NaN
4169,5709-LVOEQ,No,Female,0,Yes,Yes,0,Yes,No,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,NaN
5599,7644-OMVMY,No,Male,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,NaN

In [40]:
dados_new.dropna(subset = ['Charges.Total'], inplace=True)

In [41]:
dados_new['Charges.Total'] = dados_new['Charges.Total'].astype('float')

In [42]:
dados_new.describe().round(2)

       SeniorCitizen   tenure  Charges.Monthly  Charges.Total
count        7032.00  7032.00          7032.00        7032.00
mean            0.16    32.42            64.80        2283.30
std             0.37    24.55            30.09        2266.77
min             0.00     1.00            18.25          18.80
25%             0.00     9.00            35.59         401.45
50%             0.00    29.00            70.35        1397.48
75%             0.00    55.00            89.86        3794.74
max             1.00    72.00           118.75        8684.80

In [43]:
len(dados_new)

7032

# Refazendo o Índice após aplicar o dropna

In [44]:
dados_new.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            7257, 7258, 7259, 7260, 7261, 7262, 7263, 7264, 7265, 7266],
           dtype='int64', length=7032)

In [45]:
range(dados_new.shape[0])

range(0, 7032)

In [46]:
dados_new.index = range(dados_new.shape[0])

In [47]:
dados_new

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.30
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.40
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.90
7028,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.70
7029,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7030,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7031,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.60

In [48]:
dados_new['Id'] = dados_new.index +1

In [49]:
dados_new = dados_new.set_index('Id')

In [50]:
dados_new['Trial'] = dados_new['Charges.Monthly']*dados_new['tenure']

In [51]:
dados_new['Trial2'] = dados_new['Charges.Total']- dados_new['Trial']

In [52]:
dados_new.head(20)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total,Trial,Trial2
Id,,,,,,,,,,,,,,,,,,,,,
1,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.30,590.40,2.90
2,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.40,539.10,3.30
3,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85,295.60,-14.75
4,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85,1274.00,-36.15
5,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.40,251.70,15.70
6,0013-MHZWF,No,Female,0,No,Yes,9,Yes,No,DSL,...,Yes,Yes,Yes,Month-to-month,Yes,Credit card (automatic),69.40,571.45,624.60,-53.15
7,0013-SMEOE,No,Female,1,Yes,No,71,Yes,No,Fiber optic,...,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),109.70,7904.25,7788.70,115.55
8,0014-BMAQU,No,Male,0,Yes,No,63,Yes,Yes,Fiber optic,...,Yes,No,No,Two year,Yes,Credit card (automatic),84.65,5377.80,5332.95,44.85
9,0015-UOCOJ,No,Female,1,No,No,7,Yes,No,DSL,...,No,No,No,Month-to-month,Yes,Electronic check,48.20,340.35,337.40,2.95
10,0016-QLJIS,No,Female,0,Yes,Yes,65,Yes,Yes,DSL,...,Yes,Yes,Yes,Two year,Yes,Mailed check,90.45,5957.90,5879.25,78.65
11,0017-DINOC,No,Male,0,No,No,54,No,No phone service,DSL,...,Yes,Yes,No,Two year,No,Credit card (automatic),45.20,2460.55,2440.80,19.75
12,0017-IUDMW,No,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,...,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),116.80,8456.75,8409.60,47.15
13,0018-NYROU,No,Female,0,Yes,No,5,Yes,No,Fiber optic,...,No,No,No,Month-to-month,Yes,Electronic check,68.95,351.50,344.75,6.75
14,0019-EFAEP,No,Female,0,No,No,72,Yes,Yes,Fiber optic,...,No,Yes,No,Two year,Yes,Bank transfer (automatic),101.30,7261.25,7293.60,-32.35
15,0019-GFNTW,No,Female,0,No,No,56,No,No phone service,DSL,...,Yes,No,No,Two year,No,Bank transfer (automatic),45.05,2560.10,2522.80,37.30
16,0020-INWCK,No,Female,0,Yes,Yes,71,Yes,Yes,Fiber optic,...,No,No,Yes,Two year,Yes,Credit card (automatic),95.75,6849.40,6798.25,51.15
17,0020-JDNXP,No,Female,0,Yes,Yes,34,No,No phone service,DSL,...,Yes,Yes,Yes,One year,No,Mailed check,61.25,1993.20,2082.50,-89.30
18,0021-IKXGC,No,Female,1,No,No,1,Yes,Yes,Fiber optic,...,No,No,No,Month-to-month,Yes,Electronic check,72.10,72.10,72.10,0.00
19,0022-TCJCI,Yes,Male,1,No,No,45,Yes,No,DSL,...,No,No,Yes,One year,No,Credit card (automatic),62.70,2791.50,2821.50,-30.00
20,0023-HGHWL,Yes,Male,1,No,No,1,No,No phone service,DSL,...,No,No,No,Month-to-month,Yes,Electronic check,25.10,25.10,25.10,0.00

In [53]:
dados_new[dados_new['tenure']== 1]

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total,Trial,Trial2
Id,,,,,,,,,,,,,,,,,,,,,
18,0021-IKXGC,No,Female,1,No,No,1,Yes,Yes,Fiber optic,...,No,No,No,Month-to-month,Yes,Electronic check,72.10,72.10,72.10,0.0
20,0023-HGHWL,Yes,Male,1,No,No,1,No,No phone service,DSL,...,No,No,No,Month-to-month,Yes,Electronic check,25.10,25.10,25.10,0.0
26,0032-PGELS,Yes,Female,0,Yes,Yes,1,No,No phone service,DSL,...,No,No,No,Month-to-month,No,Bank transfer (automatic),30.50,30.50,30.50,0.0
49,0082-LDZUE,No,Male,0,No,No,1,Yes,No,DSL,...,No,No,No,Month-to-month,Yes,Mailed check,44.30,44.30,44.30,0.0
64,0107-WESLM,Yes,Male,0,No,No,1,Yes,No,No,...,No internet service,No internet service,No internet service,Month-to-month,Yes,Electronic check,19.85,19.85,19.85,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6970,9907-SWKKF,Yes,Female,1,No,No,1,No,No phone service,DSL,...,No,No,No,Month-to-month,No,Mailed check,25.05,25.05,25.05,0.0
6997,9940-RHLFB,Yes,Female,0,No,No,1,Yes,No,Fiber optic,...,No,No,No,Month-to-month,No,Electronic check,75.30,75.30,75.30,0.0
7011,9962-BFPDU,No,Female,0,Yes,Yes,1,Yes,No,No,...,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,20.05,20.05,20.05,0.0
7023,9975-SKRNR,No,Male,0,No,No,1,Yes,No,No,...,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,18.90,18.90,18.90,0.0
7026,9985-MWVIX,Yes,Female,0,No,No,1,Yes,No,Fiber optic,...,No,No,No,Month-to-month,Yes,Mailed check,70.15,70.15,70.15,0.0

In [60]:
dados_new = dados_new.rename(columns = {'customerID': 'ID_Cliente'})

In [64]:
dados_new.columns

Index(['ID_Cliente', 'Churn', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'Charges.Monthly', 'Charges.Total',
       'Trial', 'Trial2'],
      dtype='object')

In [66]:
traducao = {
    'gender': 'gênero', 
    'SeniorCitizen': 'idoso',
    'Partner': 'cônjugue',
    'Dependents': 'dependentes',
    'tenure': 'tempo_contrato',
    'PhoneService': 'serviço_telefônico',
    'MultipleLines': 'multilinhas',
    'InternetService': 'serviço_internet',
    'OnlineSecurity': 'segurança_online',
    'OnlineBackup': 'backup_online',
    'DeviceProtection': 'segurança_dipositivo',
    'TechSupport': 'suporte_técnico',
    'StreamingTV': 'programa_TV',
    'StreamingMovies': 'programa_filmes',
    'Contract': 'contrato',
    'PaperlessBilling': 'fatura_digital',
    'PaymentMethod': 'método_pagamento',
    'Charges.Monthly': 'fatura_mensal',
    'Charges.Total': 'fatura_total'
}

In [67]:
dados_new = dados_new.rename(columns = traducao)

In [68]:
dados_new.head()

,ID_Cliente,Churn,gênero,idoso,cônjugue,dependentes,tempo_contrato,serviço_telefônico,multilinhas,serviço_internet,...,suporte_técnico,programa_TV,programa_filmes,contrato,fatura_digital,método_pagamento,fatura_mensal,fatura_total,Trial,Trial2
Id,,,,,,,,,,,,,,,,,,,,,
1,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.30,590.4,2.90
2,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.40,539.1,3.30
3,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85,295.6,-14.75
4,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85,1274.0,-36.15
5,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.40,251.7,15.70